[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Log Out
GenericName=Log Out
Name[de]=Abmelden
Name[el]=Αποσύνδεση
Name[es]=Cerrar sesión
Name[fr]=Déconnexion
Name[id]=Log Out
Name[ja]=ログアウト
Name[pl]=Wyloguj
Name[pt_BR]=Sair
Name[pt_PT]=Sair
Name[ru_RU]=Выйти
Name[sv]=Logga ut
Comment=Log Out window for various window managers
Comment[de]=Abmeldefenster für verschiedene Fenstermanager
Comment[el]=Παράθυρο αποσύνδεσης για διάφορους Διαχειριστές Παραθύρων
Comment[es_AR]=Ventana para cerrar la sesión en varios administradores de ventanas
Comment[es_ES]=Ventana de cierre de sesión para varios gestores de ventanas
Comment[fr]=Fenêtre de déconnexion pour divers gestionnaires de fenêtres
Comment[id]=Window Log Out untuk aneka window manager
Comment[it]=Finestra di Log Out universale
Comment[ja]=様々なウィンドウマネージャのウィンドウからログアウトします
Comment[pl]=Okno wylogowania dla różnych mendżerów okien
Comment[pt_BR]=Sair para vários gerenciadores de janela
Comment[pt_PT]=Sair para vários gerenciadores de janela
Comment[ru_RU]=Окно выхода из системы для различных оконных менеджеров
Comment[sv]=Utloggningsfönster för olika fönsterhanterare
Exec=/usr/bin/wm-logout
Icon=system-shutdown
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

